TOKEN = INSERT_DISCORD_TOKEN

# Lavalink Environment Variables
ENV_LAVALINK_HOST = 127.0.0.1
ENV_LAVALINK_PORT = 2222
ENV_LAVALINK_PASS = "youshallnotpass"

# Google AI Studio API token
GOOGLE_AI_TOKEN = "INSERT_API_KEY"

# Bot name
BOT_NAME = "Jakey Bot"

# Used for owner-only commands like eval
SYSTEM_USER_ID = "YOUR_DISCORD_ID"

# Maximum message history count
MAX_CONTEXT_HISTORY = 20

# Set the chat history file path
# Comment to store the database file into the project's root directory named "chat_history.db"
# Change the path to store the database file elsewhere
CHAT_HISTORY_DB = /srv/writable/db/jakey_chat_history.db

# Temporary directory
TEMP_DIR = /tmp/discord_jakey_tmpfiles

# Enable shared chat history for guilds
# Setting this to False won't delete the chat history from guild IDs automatically
SHARED_CHAT_HISTORY = False
