# Refer to docs/CONFIG.md#API-and-Search-tools

TOKEN=INSERT_DISCORD_TOKEN

# Lavalink Environment Variables
ENV_LAVALINK_URI=http://127.0.0.1:2222
ENV_LAVALINK_PASS=youshallnotpass
ENV_LAVALINK_IDENTIFIER=main

# API provider keys
# GEMINI_API_KEY=
# OPENAI_API_KEY=
# MISTRAL_API_KEY=
# ANTHROPIC_API_KEY=
# XAI_API_KEY=
# GROQ_API_KEY=

# Setting this API key will make the models use the OpenRouter API (Note: this only applies when AI providers does not have their API keys set)
# This overrides OPENAI_API_ENDPOINT if OpenAI keys isn't set
# Supported: OpenAI, Mistral, Anthropic
# OPENROUTER_API_KEY=

# OPTIONAL: Ranking this bot to OpenRouter
# OR_SITE_URL=https://github.com/zavocc/JakeyBot
# OR_APP_NAME=JakeyBot

# For OpenAI models only
# Set this for custom OpenAI chat completions endpoint (baseURL) and depending on your endpoint provider, you must still set API Keys for OAI using OPENAI_API_KEY
# Must support additional parameters: reasoning_effort
# Must support these models: o1, o3-mini, gpt-4o, gpt-4o mini
# OPENAI_API_ENDPOINT=

# Bot name and prefix
BOT_NAME=Jakey Bot
BOT_PREFIX=$

# Set the MongoDB connection string for chat history
MONGO_DB_URL=mongodb://connection_string
MONGO_DB_NAME=jakey_prod_db
MONGO_DB_COLLECTION_NAME=jakey_prod_db_collection

# Temporary directory
TEMP_DIR=/tmp/discord_jakey_tmpfiles

# Enable shared chat history for guilds
# Setting this to False won't delete the chat history from guild IDs automatically
SHARED_CHAT_HISTORY=False

#######################################################################
# TOOLS
#######################################################################

# Google Programmable Custom Search Engine, used for web search engine
CSE_SEARCH_ENGINE_CXID=
CSC_GCP_API_KEY=

# Bing search API key
BING_SUBSCRIPTION_KEY=

# YouTube Data API key, enable it through GCP APIs and Services
YOUTUBE_DATA_v3_API_KEY=

# HuggingFace inference token
HF_TOKEN=

# For GitHub tool
GITHUB_TOKEN=

# Azure TTS 
AZURE_TTS_KEY=
AZURE_TTS_REGION=eastus
