# Refer to docs/CONFIG.md#API-and-Search-tools

TOKEN=INSERT_DISCORD_TOKEN

# API provider keys
# GEMINI_API_KEY=
# OPENAI_API_KEY=
# MISTRAL_API_KEY=
# ANTHROPIC_API_KEY=
# XAI_API_KEY=
# GROQ_API_KEY=

# Requires Azure AI deployment of DeepSeek models for secure access
AZURE_AI_API_BASE=
AZURE_AI_API_KEY=

# Enable LiteLLM debugging
# LITELLM_DEBUG=

# Setting this API key will make the models use the OpenRouter API (Note: this only applies when AI providers does not have their API keys set)
# This overrides OPENAI_API_ENDPOINT if OpenAI keys isn't set
# Supported: OpenAI, Mistral, Anthropic
# OPENROUTER_API_KEY=

# OPTIONAL: Ranking this bot to OpenRouter
# OR_SITE_URL=https://github.com/zavocc/JakeyBot
# OR_APP_NAME=JakeyBot

# For OpenAI models only
# Set this for custom OpenAI chat completions endpoint (baseURL) and depending on your endpoint provider, you must still set API Keys for OAI using OPENAI_API_KEY
# Must support additional parameters: reasoning_effort
# Must support these models: o1, o3-mini, gpt-4o, gpt-4o mini

# You must use the next generation API to use Azure OpenAI models: https://learn.microsoft.com/en-us/azure/ai-services/openai/api-version-lifecycle?tabs=key
# OPENAI_API_ENDPOINT=

# To use Azure OpenAI models, set this to any non-empty value
# OPENAI_USE_AZURE_OPENAI=

# Default models
# This can change anytime
# TIP: Ctrl-Shift-F to find all references if needing to update things, defaults can be updated inside the method instead.

# Syntax: provider::model-id 
# Check data/models.yaml
DEFAULT_CHAT_MODEL=provider::model-id

# Default gemini models for tools defined in cogs/gemini
DEFAULT_GEMINI_MODEL=gemini-model-id

# Default Gemini 2.0 Flash Native Image Generation model
# THIS MAY BE CHANGED AT ANYTIME with new options like GPT-Image-1 and Flux Kontext
# DO NOT CHANGE THIS!
# For now we may need to lockin to Gemini models as it's cheap
DEFAULT_GEMINI_IMAGE_GENERATION_MODEL=gemini-model-id

# Bot name and prefix
BOT_NAME=Jakey Bot
BOT_PREFIX=$

# Set the MongoDB connection string for chat history
MONGO_DB_URL=mongodb://connection_string
MONGO_DB_NAME=jakey_prod_db
MONGO_DB_COLLECTION_NAME=jakey_prod_db_collection

# Temporary directory
TEMP_DIR=/tmp/discord_jakey_tmpfiles

#######################################################################
# TOOLS
#######################################################################
# YouTube Data API key, enable it through GCP APIs and Services
YOUTUBE_DATA_v3_API_KEY=

# For GitHub tool
GITHUB_TOKEN=

#######################################################################
# Services
#######################################################################
# Azure blob storage URL for file uploads
AZURE_STORAGE_ACCOUNT_URL=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER_NAME=