aiofiles==24.1.0
#google-generativeai >= 0.7.2
gradio_client==1.1.0
#jsonpickle==3.2.2
litellm >= 1.48.18
motor==3.5.1
py-cord >= 2.6.0
pymongo==4.8.0
python-dotenv==1.0.0
PyYAML==6.0.1
# wavelink==3.4.1
# pillow==11.0.0

################
# For web_browsing
################
# chromadb
# duckduckgo-search

################
# For image generation and AI tools using huggingface
################
# gradio_client
